button {
  background-color: #424242;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

.delete {
  padding: 0px 0px;
  margin: 0px;
  color: #E74C3C;
}

#titre {
  display: none;
  text-align: center;
  font-family: pokemon;
  color: #ffcb05;
  text-shadow: #3b5ba7 -5px 2px;
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 70px;
}

.divP{
  max-width: 100%;
}

button:hover {
  background-color: #303030;
}

mat-card {
  min-height: 18em;
}

@font-face {
  font-family: "pokemon";
  src: url("/assets/police/Pokemon_Solid.ttf");
}
