button {
  background-color: #616161;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

.add{
  color: #2ECC71;
}

.detail{
  width: auto;
  height: auto;
}

.contenu{
  max-width: 500px;
  max-height: 600px;
}

img{
  max-width: 100%;
  height: auto;
}

.id{
  text-align: center;
}

.play {
  background-color: #424242;
  padding: 0px 0px;
  margin: 0px;
}

button:hover {
  background-color: #303030;
}

