button {
  background-color: #424242;
  color: white;
  border: none;
  padding: 0px 0px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #303030;
}

